# Node modules and package manager files
/node_modules
/.pnp
.pnp.js

# Ignore build and production files
/build

# Ignore test coverage reports
/coverage

# Ignore miscellaneous system files
.DS_Store

# Environment variable files (ignore for security reasons)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Do NOT ignore yarn.lock file (it ensures consistent dependencies)
/*.lock
